@page "/counter"
 
<PageTitle>Counter</PageTitle>

<Heading1>Counter</Heading1>

<p class="my-4">Current count: @currentCount</p>

<button type="button" class="btn-primary" @onclick="IncrementCount()">Click me</button>

@code {
    private int currentCount = 10;

    private void IncrementCount()
    {
        currentCount++;
        Console.WriteLine(currentCount);
    }
}